# Project specific
lightnet/version.py
docs/.build
docs/notes/example.jpg
docs/notes/example.xml
docs/notes/*.pt
docs/notes/*.weights

# Python specific
__pycache__/
*.py[cod]
*.egg-info
*.so
*.o

build/
develop-eggs/
dist/
eggs/
.ipynb_checkpoints

pip-log.txt
pip-delete-this-directory.txt
